<p><%= t 'devise.mailer.greeting.hello' %> <%= @resource.name %>!</p>

<p><%= t 'devise.mailer.reset_password_instructions.instruction' %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'devise.mailer.reset_password_instructions.ignore_if_not_requested' %></p>
<p><%= t 'devise.mailer.reset_password_instructions.no_change' %></p>
